{% extends 'base.html.twig' %}

{% block title %}{{ ad.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if ad.title %}
                <h1>{{ ad.title }}</h1>
            {% endif %}
            {% if ad.image %}
                <p>
                    <img src="{{ asset('uploads/images/' ~ ad.image) }}" class="img-fluid" alt="image">
                </p>
            {% endif %}
            {% if ad.text %}
                <p>{{ ad.text|raw }}</p>
            {% endif %}
            <p>
                <a href="{{ path('ad_index') }}"><- To List</a>
            </p>
        </div>
    </div>
{% endblock %}
